doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title BOT
  body
    .header
      h1.page-title Pepper Botts
    
    .col-md-2
      = img(src= '/images/pepperpotts.jpg')
    .col-md-8.col-md-offset-2  
      iframe(src='https://webchat.botframework.com/embed/gsav-luis-1?s=NuuI3BtqC8I.cwA.Ccw.yqHCLYEiLAF7quXtOJvr3yNyG8XKkuEZzHd-4mJ-BRA', id='chatbox')      
    //- #wrapper
    //-   #menu
    //-     p.welcome
    //-       | Welcome, I am Pepper Botts your personal assistant bot
      //- #chatbox          
      
    //-       b
    //-     p.logout
    //-       a#exit(href='#') Exit Chat
    //-     div(style='clear:both')    
    //-   form(name='message', action='')
    //-     input#usermsg(name='usermsg', type='text', size='63')
    //-     input#submitmsg(name='submitmsg', type='submit', value='Send')
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js')
      script(type='text/javascript').
        // jQuery Document
        $(document).ready(function(){
        });
    

    .footer
      p Copyright 
